<!DOCTYPE html>
<html lang="en">
    <head><title>{{ title }} - Blog</title></head>
    <body>
        {% block content %}
        {% endblock %}
    <br><p>This is a footer</p>
    <br>
    <div>
    My Page:
    <a href="/index">Home</a>
    <a href="/login">Login</a>
    </div>
    </body>
</html>